.topHeader {
    background-color: pink;
    height: 90px;
    width: 100%;
    box-sizing: border-box;
}
.inner{
    position: relative;
    max-width: 1240px;
    margin:0 auto;
    height: 100%;
    padding: 0 20px;
}

.topHeader .logo{
    width: 300px;
    text-align: center;
    margin: auto;
}

.topHeader .logo img {
    display: inline-block;
    margin-top: 15px;
    margin: auto;
    width:300px;  
}
.hello {
    position: absolute;
    bottom: 0;
    width: 120px;
   
}
.hello p{
    display: inline-block;
    width: 130px;
    height: 20px;
    border: 1px solid #222;
    background-color: white;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
  
}
.hello img{
    width: 100%;
}
.icon-list{
    top:23px;
    right: 20px;
    height: 56px;
    width: 200px;
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.icon-list li img{
    width: 60px;
}
/* *은 전체 태그*/

.bottomHeader{
    background-color:#fffbbf;
}

#bottomMenu {
    text-align: center;
    position: relative;
    
}
#bottomMenu ul{
   display: inline-block 
    
}
#bottomMenu ul li{
    float: left;
    text-align: center;
    padding-right: 20px;
    font-size: 12px;
    position: relative;
}
#bottomMenu ul li::after{
    content:'';
    width: 1px;
    height: 15px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 11px; 
    /* 오른쪽을 기준으로 0px, 오른쪽으로 배치하려고 하면 px작게 주기*/
}

#bottomMenu ul li:nth-last-child(1){
    padding-right:0px;
}

#bottomMenu ul li:nth-last-child(1)::after{
    display: none;
}

.searchProduct{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}