.topHeader {
    background-color: pink;
    height: 90px;
    width: 100%;
    box-sizing: border-box;
}
.inner{
    max-width: 1240px;
    margin:0 auto;
    height: 100%;
}
.topHeader .logo img {
    display: block;
    margin: auto;
    width:300px;
   
}
.icon-list{
    top:23px;
    right: 20px;
    height: 56px;
    width: 200px;
    align-items: center;
    position: absolute;

}

.icon-list li img{

    width: 50px;
}
/* *은 전체 태그*/


#bottomMenu {
    height: 30px;
    width: 850;
}
#bottomMenu li{
     
}