.topHeader {
    background-color: skyblue;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
}
.inner{
    max-width: 1240px;
    margin:0 auto;
    height: 100%;
}
.topHeader .logo img {
    width:300px;
}




#bottomMenu {
    height: 30px;
    width: 850;
}
#bottomMenu li{
     
}